<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#" href="#" [routerLink]="['/']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/jobs']">Offres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/jobs/add']">créer une offre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/about']">à propos</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>


