<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#" href="#" [routerLink]="['/']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/jobs']">Offres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/jobs/add']">créer une offre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/about']">à propos</a>
        </li>
      </ul>
      <ul class=navbar-nav>
        <li class="nav-item dropdown my-2 my-lg-0 mr-0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" [routerLink]="['/login']" *ngIf="!authService.userIsLoggedIn()">se connecter</a>
              <a class="dropdown-item" (click)="authService.logOut()" *ngIf="authService.userIsLoggedIn()">se déconnecter</a>
              <a class="dropdown-item" href="#" [routerLink]="['/register']" *ngIf="!authService.userIsLoggedIn()">créer un compte</a>
              <a class="dropdown-item" href="#" [routerLink]="['/profile']" *ngIf="authService.userIsLoggedIn()">mon compte</a>
            </div>
          </li>
        </ul>
    </div>
  </nav>

<router-outlet></router-outlet>


