<form class="form-inline" #searchFrom="ngForm" (ngSubmit)="searchJobs(searchFrom.value)">
    <div class=" form-group mb-3 mr-2">
      <label class="mr-2" for="staticEmail2" >POUR QUEL POSTE ?</label>
      <input class="form-control" type="text" ngModel name="term" required>
    </div>
    <div class="form-group mb-3 mr-2">
      <label class="mr-2" for="inputPassword2" >DANS QUELLE VILLE ?</label>
      <input class="form-control" type="text" ngModel name="place">
    </div>
    <button type="submit" class="btn btn-primary mb-3" [disabled]="searchFrom.invalid">recherche</button>
  </form>


