<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" *ngIf='!isAutentication' >
  <div class="container">
    <div class=" form-group mb-3 mr-2">
      <label class="mr-2" for="staticEmail2" >Email</label>
      <input type="email" class="form-control" name="email" ngModel required>
    </div>
    <div class="form-group mb-3 mr-2">
      <label class="mr-2" for="inputPassword2" >Password</label>
      <input type="password" class="form-control" name="password" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary mb-3" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>

<div *ngIf='isAutentication'>
  {{welcomeMessage}}
</div>
